$dark: #333;
$light: #ddd;
$color-list: (
	(black, #111111),
	(white, #FFFFFF),
	(offwhite, #F5F5F5),
	(clouds, #ECF0F1),
	(silver, #BDC3C7),
	(concrete, #95A5A6),
	(asbestos, #7F8C8d),
	(tan, #D1DBBD),
	(pewter, #91AA9D),
	(moonlight, #3E606F),
	(deepocean, #193441),
	(turquoise, #1ABC9C),
	(aqua, #16A085),
	(sunflower, #F1C40F),
	(orange, #F39C12),
	(sienna, #BF4E19),
	(milanored, #AC1C00),
	(river, #3498DB),
	(marina, #2980B9),
	(deco, #C9D787),
	(crete, #7D8A2E),
	(guardsman, #D90000),
	(pomegranate, #C0392B),
	(finn, #723147),
	(tamarind, #31152B)
);
